[2022-09-18 23:23] avie-dev opened #2 "Add Goal: Avie"
**What is your goal?**
To finish setting up this AsaKatsu Project

#### 🌷 steps
- [x] Ask if someone is interested in [Twitter](https://twitter.com/AvieDev/status/1571294025998794752?s=20&t=hso-cIu9m2HHb9gH3u4_Ew)
- [x] Create a repository
- [x] Add Issue Template
- [x] Create folders
- [x] Create a ReadMe file
- [x] Prepare Something for visualization
- [x] Announce

**Do you have a target date f

[2022-09-19 07:02] elucian opened #4 "Set Goal Elucian: Learn Bash"
**Learn Bash in 15 days**

### Steps
  - [x] Read the reference manual
  - [x] Create Train repository
  - [x] Create code snippets
  - [x] Create articles
  - [x] Create quiz
  - [x] Create slides
  - [x] Stream on Twitch

**Target Date**

Saturday: 1 Oct 2022

**Purpose**

This is part of my training to become: #10xEngineer. It require a software developer to know at least 10 programming languag

[2022-09-19 07:45] Kellsonphilips opened #5 "Fitness habit:30 days fitness and twitter engagement"
**👨🏽  My Goal in the next 30 days**
I want to be consistent in my fitness habit/routine and to increase my engagement on twitter

### 🔢  Steps to achieve my goal
  - [x] Wake up early
  - [x] Do 30 - 40 push-ups
  - [x] Make a tweet  then get my day started

**Target date for this goal completion**
 - By Wednesday October 19, 2022

**What will you achieve by completing this goal?**
I want to devel

[2022-09-19 07:47] chaaals opened #6 "Set Goal chaaals: Get into Calisthenics and Boxing 👟🥊"
**What is your goal?**
Generally, its to lose weight around min(5kg), max(7.5kg) by getting into Calisthenics and Boxing

**Do you have a target date for this? If yes, write below**
I want to achieve it in 1 month with a proper morning routine.

**What will you achieve by completing this goal?**
Planning out a training routine that I can do for 4-5 days a week.

**Additional context**
I've always

[2022-09-19 08:01] elucian opened #7 "Rename folder asakatsu_reports"
Rename the folder asakatsu_reports to reposts.

[2022-09-19 08:18] AliReza1083 opened #10 "Ali Reza : React"
**What is your goal?**
To learn React

### Steps to achieve the goal (not required)
  - [x] Learn Class Component & Function
  - [x] Learn useState & useEffect
  - [x] Learn GSAP animation
  - [ ] Routing
  - [ ] Firebase
  - [ ] Projects
  - [ ] VITE

**Do you have a target date for this? If yes, write below**
January 16, 2023

**What will you achieve by completing this goal?**
I'll become a _Rea

[2022-09-19 08:20] Kellsonphilips opened #11 "Add CONTRIBUTION CODE OF CONDUCT"
I think we will need contribution code of conduct to guide everyone.

[2022-09-19 08:22] alisamadiii commented on #11
@Kellsonphilips
what is _contribution code of conduct_ Philips?

[2022-09-19 08:27] Kellsonphilips commented on #11
Code of conduct is a guideline of manners that are tolerated amongst everyone who wishes to contribute or participate in this project. This is to avoid conflicts, hope this explanation is clear enough.

[2022-09-19 08:36] avie-dev commented on #11
@Kellsonphilips I see. Thank you! I totally forgot about that. Adding it now.

[2022-09-19 08:38] Kellsonphilips commented on #11
That's right.

[2022-09-19 08:54] avie-dev commented on #11
@Kellsonphilips I added one, so please check, and if okay, close this issue. Thank you!

[2022-09-19 09:04] Kellsonphilips commented on #11
That's perfect

[2022-09-19 09:04] #11 closed

[2022-09-19 10:32] avie-dev commented on #7
@elucian Thank you for this Elucian! I merged the PR so please close the issue.

[2022-09-19 15:44] nateemerson opened #19 "Set Goal NateEmerson:Write"
**What is your goal?**
Write every day for 30 minutes.

### Steps to achieve the goal (not required)
  - [ ] Write
    - [ ] Daily
      - [ ] For 30 minutes

**Do you have a target date for this? If yes, write below**
2023-01-01

**What will you achieve by completing this goal?**
I will write more

**Additional context**
I want to write more

[2022-09-19 15:53] epicadidash opened #20 "Adwait-Dash:Deaddiction"
**Not to be addicted to Social Media**
For that only tow hours for social media a day.

### Steps to achieve the goal (not required)
  - [x] Not to use Instagram till 29th September
  - [x]  Not to join more than 1 twitter spaces a day till 29th September.

**Target Date is 29th September 2022**

**Dedicated to algorithm of social media **

[2022-09-19 16:02] #2 closed

[2022-09-21 02:53] Kellsonphilips commented on #5
day3 task done

[2022-09-21 03:32] avie-dev commented on #6
@chaaals I don't see the second day ;)

[2022-09-21 03:32] avie-dev commented on #19
@nateemerson Reminder to continue the challenge (Sep21)

[2022-09-21 03:33] avie-dev commented on #20
@epicadidash Reminder to continue the challenge (Sep21)

[2022-09-21 04:31] #7 closed

[2022-09-21 04:32] avie-dev commented on #4
@elucian Reminder For Sep21🌷

[2022-09-21 15:36] avie-dev commented on #10
@AliReza1083 Is this done?

[2022-09-21 15:37] avie-dev opened #29 "Add auto merge"
Add auto merge of PR then the label is "Ready to merge" and the dir format has no problem.

I'm quite busy I would appreciate if someone can do this

[2022-09-21 15:55] nateemerson commented on #19
Updated in 1f0e00c31146a5d2bd38e886eba97ad1be065b2e. Already failed on the first day but I'm not stopping! Might have to lower the bar a bit though..30 minutes straight of writing is longer than it sounds!

[2022-09-21 19:51] 44jax44 opened #30 "Set Goal (JAX):[I want to be the smartest person that ever walked the earth!]"
**What is your goal?**
Read 4 books per month
1 book per week
### Steps to achieve the goal (not required)
  - [ ] Book 1
  - [ ] Book 2
  - [ ] Book 3
  - [ ] Book 4

**Do you have a target date for this? If yes, write below**

32 November

**What will you achieve by completing this goal?**

Being the smartest person alive

**Additional context**

Thank you all, for joining me on this journey

[2022-09-21 20:16] 44jax44 opened #32 "Moving folders created in the WRONG place!!!!"
It came to my attention, that someone did not read the readme, and someone else, did not check it correctly

And because of that, now we need to change the location of the folder named [asakatsu_reports/chaaals/Calisthenics... into reports

Thank you

[2022-09-21 21:16] alisamadiii commented on #10
@avie-dev
Everything was done Avie I think.
I set my goals, my exercise time table.

[2022-09-21 23:49] elucian commented on #4
I'm on it. 2 goals remaining!

[2022-09-22 19:37] ShivankUdayawal opened #36 "Finished the big data and want to begin the cloud journey"
**Big data**
Set your goal and break it into smaller chunks.
For example, you want to read 4 books in one month. Break it down to “Read one book per week”, or smaller, “Read xx chapter per day”.

### Steps to achieve the goal (not required)
  - Hadoop
  - MapReduce
  - Hadoop project
  - Cluster project
  - PySpark
  - Hive
  - Hbase

**Do you have a target date for this? If yes, write below**
Yes

[2022-09-23 07:02] 44jax44 opened #38 "Set Goal (JAX):[Live at least 30 years as per Avie's request]"
**What is your goal?**
I have to live at least 30 years or Avie will be mad

### Steps to achieve the goal (not required)
  - [ ] Live 5 years
  - [ ] Live 10 years
  - [ ] Live 20 years
  - [ ] Live 30 years

**Do you have a target date for this? If yes, write below**

30 years

**What will you achieve by completing this goal?**

Avie would not hate me

**Additional context**

[2022-09-23 12:07] watacodes opened #40 "Wataru : Open a window for at least 10 minutes and solve 5 codewars questions"
**What is your goal?**

1. Open a window in the morning for at least 10 minutes a day.
2. Solve 5 codewars questions a day.

**What will you achieve by completing this goal?**

I will be a little bit healthier, and it will help me stay consistent with learning.

[2022-09-23 14:00] avie-dev commented on #40
Nice goals Wataru! You can start creating PR with this. You know where to find me if you need help 🌷

[2022-09-23 17:23] nateemerson commented on #19
Update: 30 minutes is much more difficult than I thought! I might pivot my goals a bit and try for 3x 10min chunks every day so I can gauge my success on a scale of 0-3 pts each day. That way I can adjust my goal to be "15-18 points / week" to allow myself to miss a day or two.

[2022-09-25 12:53] #10 closed

[2022-09-25 12:55] alisamadiii commented on #10
Sorry @avie-dev for closing this issue too late.

[2022-09-25 15:18] codewithshubhi opened #47 "Shubhangi: 10k steps everyday"
**What is your goal?**
Goal is to workout for 30mins and min7k-10ksteps everyday by end of October.

[2022-09-25 16:08] avie-dev commented on #32
Hi @44jax44.
Done with this. Please check and close the issue, thanks

[2022-09-25 16:09] 44jax44 commented on #32
Thank you

[2022-09-25 16:09] #32 closed

[2022-09-26 02:33] avie-dev commented on #38
You don't have any PR. Update the file every day.😌

[2022-09-27 03:34] avie-dev commented on #47
@codewithshubhi Where is the PR Shubhi?

[2022-09-27 23:27] ayushdotdev opened #56 "branch name how to name it confusion"
How do I create a branch like my branchname should be "AsaKatsu/ayushdotdev" or "ayushdotdev" will be fine ?

[2022-09-28 08:51] #56 closed

[2022-09-28 09:22] ayushdotdev opened #59 "Set Goal (your name):[Your Goal]"
#58
**What is your goal?**
Complete three tasks of 28 SEPT 2022

### Steps to achieve the goal
  - Complete three tasks study rigorously

**What will you achieve by completing this goal?**
I will be a better developer

**Additional context**

If anybody would like contribute to my [Yournotes](https://github.com/ayushdotdev/yournotes) (ReactJS) project or HTML CSS JS based site [Foodie-lovers] (htt

[2022-09-28 09:56] ayushdotdev opened #60 "How to add tag"
Hi @avie-dev !!
could you tell how to add tags to a pr ?

[2022-09-29 06:19] YogeshRaj27 opened #64 "Set Goal (Yogesh Raj):Learn About Git"
### Steps to achieve the goal
  - [ ] Step 1 Learn about git
  - [ ] Step 2 create 4 pull requests

**Do you have a target date for this? If yes, write below**
before 25 Oct
**What will you achieve by completing this goal?**
self-satisfaction

[2022-10-01 08:01] avie-dev opened #73 "add CONTRIBUTING.md"
move how to contribute to CONTRIBUTING.md

[2022-10-01 08:01] #73 closed

[2022-10-01 13:40] justshubhi commented on #47
@avie-dev Done created :)

[2022-10-02 19:09] elucian commented on #4
I have finish learning Bash fundamental concepts and stream my first tutorial.

[2022-10-02 19:09] #4 closed

[2022-10-04 23:29] elucian opened #81 "Set Goal (Elucian):[Translate up to 5000 words]"
**What is your goal?**
Translate 5000 words in Maj and other 6 languages until the end of 2020:
Target languages: {Romanian, English, Spanish, French, Italian, German}

### Steps to achieve the goal (not required)
  - [x] Fix existing duplicates (10) until Oct 09
  - [x] Update GitHub repository until Oct 09 - 2022
  - [x] Fix website broken links until Oct 16 - 2022
  - [x] Translate 5000 words u

[2022-10-05 22:55] avie-dev commented on #60
hi @ayushdotdev, apologies I missed this question.
You can put labels on them. Go to the PR, on the left side there is a Labels option, choose from there or create one.

[2022-10-10 03:48] FrancescoXX opened #98 "Set Goal (Francesco):[365 days of Web3]"
**What is your goal?**
Complete 365 days of Web3 Challenge

### Steps to achieve the goal (not required)
  - [ ] Complete 300 days (5 days remaining)
  - [ ] announce the last step of the challenge and make the remaining 65 days

**Do you have a target date for this? If yes, write below**
yes, 19 December 2022

**What will you achieve by completing this goal?**
1 year of consistently posting about

[2022-10-10 03:51] FrancescoXX opened #99 "Set Goal (Francesco):[12 Months of 12h challenge]"
**What is your goal?**
Make a monthly 12 hours of livestream, for 12 months (144 hours in total). 4/12 cleared

### Steps to achieve the goal (not required)
  - [ ] November 2022
  - [ ] December 2022
  - [ ] January 2023
  - [ ] February 2023
  - [ ] March 2023
  - [ ] April 2023
  - [ ] May 2023
  - [ ] June 2023

**Do you have a target date for this? If yes, write below**
31 June 2023

**What w

[2022-10-10 06:13] Kellsonphilips commented on #29
Don't worry I'm here daily to help. If there's any issue I will write you directly

[2022-10-10 06:27] Kellsonphilips commented on #99
This is one hell of goal @FrancescoXX haha

[2022-10-10 07:42] FrancescoXX opened #102 "Set Goal (your name):[Your Goal]"
**What is your goal?**
Reach 1M total Network on all Social Media

### Steps to achieve the goal (not required)
  - [ ] 10%
  - [ ] 15%
  - [ ] 20%
  - [ ] 20%
  - [ ] 30%
  - [ ] 30%
  - [ ] 30%
  - [ ] 30%
  - [ ] 30%
  - [ ] 30%
  - [ ] 30%

**Do you have a target date for this? If yes, write below**

**What will you achieve by completing this goal?**

**Additional context**

[2022-10-10 07:57] rupali-codes opened #103 "Set Goal (Rupali): 30DaysOfCode in ReactJS"
**What is your goal?**
My Goal is to learn React.js with amazing projects

**Do you have a target date for this? If yes, write below**
  I'm committing to reach my goal till this date Nov 10, 2022

**What will you achieve by completing this goal?**
   Becoming a JavaScript MERN Stack developer

**Additional context**
Learning ReactJs for 2 hours [Daily]

[2022-10-10 08:50] ghost commented on #60
Thank you @avie-dev .😀🌻  Its okay I can understand your side situation maintainers do many things .😁
Thanks man @Kellsonphilips for assigning it to me .😁😊
I am not currently practicing AsaKatsu, I will be back soon . Its really good intiative 😁✌🏻

[2022-10-10 08:50] #60 closed

[2022-10-10 11:09] Atharv181 opened #105 "Set Goal (Atharv Bobade):[Contribute everyday on github]"
**What is your goal?**
Set your goal and break it into smaller chunks.
Contribute everyday on GitHub for next 3 months.

**Do you have a target date for this? If yes, write below**
10-01-2023

**What will you achieve by completing this goal?**
Learn new things, collaboration, networking.

**Additional context**

[2022-10-10 14:51] jaynarayan-vaishnav opened #106 "Add a Pull Request template."
Create a PR template.

[2022-10-10 17:09] 889-dj opened #108 "Dev Jain : to be consistent in my work"
**What is your goal?**
I will become consistent with my learnings (backend development  &. DSA) and will manage my time to be more productive 😀

### Steps to achieve the goal (not required)
  - [ ] solve one DSA question everyday
  - [ ] read the articles and blogs
  - [ ] make projects ( start small )
  - [ ] limit my screen time

**Do you have a target date for this? If yes, write below**
4-5 mo

[2022-10-10 17:50] Eugene44-hub opened #109 "Set Goal (your name):[Node.js, Express and DB and Next.js]"
**What is your goal?**
Set your goal and break it into smaller chunks.
For example, you want to read 4 books in one month. Break it down to “Read one book per week”, or smaller, “Read xx chapter per day”.

### Steps to achieve the goal (not required)

  - Start ...... End
   Learn and build..

**Do you have a target date for this? If yes, write below**

I hope to fufill this goal by the end of thi

[2022-10-10 18:52] Njong392 opened #110 "Set Goal (Emy ): Finish one book before November"
**What is your goal?**
I want to finish one book this month.

### Steps to achieve the goal (not required)
  - [ ] Read at least 5 pages every day.

**Do you have a target date for this? If yes, write below**
31st October

**What will you achieve by completing this goal?**
I recently started 'Atomic habits', so I'm hoping to build and manage my habits better.

[2022-10-11 04:22] avie-dev commented on #110
Thank you for committing to Asakatsu @Njong392 !
Hope to see your PR daily then ;)

[2022-10-11 04:23] avie-dev commented on #108
Thank you for committing to Asakatsu @889-dj! Hope to see your PR daily then.

[2022-10-11 08:14] 889-dj commented on #108
Yeahh that's the plan avie to show up daily 😄

[2022-10-11 13:49] Kellsonphilips commented on #106
hi Jay, if you can work on that let me know so I can assign this issue to you.

[2022-10-11 13:52] Kellsonphilips commented on #105
do follow the contribution guide to start reporting what you have contributed daily and send a PR afterward. Looking forward to it.

If you have any problem, do not hesitate to ask here.

[2022-10-11 13:53] Kellsonphilips commented on #103
Good to have you here Rupali, I will be looking forward to what you are building.

[2022-10-11 13:55] Kellsonphilips commented on #5
8 days before my first 30 days of task completion. Can't wait to celebrate

[2022-10-11 13:58] Kellsonphilips commented on #109
Looking forward to it Eugene💪

[2022-10-11 14:10] rupali-codes commented on #103
Thanks Philips :)

[2022-10-11 16:39] Atharv181 commented on #105
Yes definitely, Thank you :)

[2022-10-12 20:23] Eugene44-hub commented on #109
Thanks phillip sir😊

[2022-10-13 06:44] Kellsonphilips commented on #6
Seems Chaaals dropped off the task

[2022-10-13 06:48] Kellsonphilips commented on #64
@YogeshRaj27 we would to see your PR and progress

[2022-10-13 19:17] elucian commented on #81
Work is progressing well, I have made my second PR today

[2022-10-14 07:01] avie-dev opened #123 "Set Goal (Avie): Create a poster for Jeremy"
**What is your goal?**
Create a poster for Jeremy

### Steps to achieve the goal (not required)
  - [ ] Think of the theme
  - [ ] Create a sketch
  - [ ] Color
  - [ ] Optimize
  - [ ] Handover

**Do you have a target date for this? If yes, write below**
October 23, 2022

**What will you achieve by completing this goal?**
Contentment hp +1

**Additional context**

[2022-10-14 07:03] avie-dev opened #124 "Set Goal (Avie): Draw illustration for animation"
**What is your goal?**
Draw illustration for animation, 6 poses

### Steps to achieve the goal (not required)
  - [ ] Think of a concept
  - [ ] Pose 1
  - [ ] Pose 2
  - [ ] Pose 3
  - [ ] Pose 4
  - [ ] Pose 5
  - [ ] Pose 6

**Do you have a target date for this? If yes, write below**
-
**What will you achieve by completing this goal?**
-
**Additional context**
-

[2022-10-15 06:14] Kellsonphilips commented on #124
can't wait to see this masterpiece in themaking.

[2022-10-15 06:15] Kellsonphilips commented on #123
Can we get a preview pls 👏🏼

[2022-10-15 07:25] Accutie opened #127 "Set Goal (Charan Singh):[100DaysOfJapanese]"
**What is your goal?**
My goal is learn Japanese language for 100 days.

Daily updates here-

**Do you have a target date for this? If yes, write below**
In next 100 days

**I will be able to understand and speak basic words, phrases of Japanese language**

[2022-10-15 08:59] Kellsonphilips commented on #127
You are welcome here @Accutie Goodluck in your Japanese journey.

[2022-10-16 11:12] AliReza1083 opened #133 "Website"
why not make a website for this Repo?

[2022-10-16 11:14] alisamadiii commented on #127
Good luck @Accutie
Wish you all the best

[2022-10-16 11:14] alisamadiii commented on #124
Looking forward to see it 🚀✌️

[2022-10-16 11:15] alisamadiii commented on #123
Nice 🚀

[2022-10-16 11:16] alisamadiii commented on #108
Yeah, being consistent in work is perfect but damn it is too hard 😅
Wish you all the best @889-dj

[2022-10-16 11:16] alisamadiii commented on #81
Nice @elucian
You're doing great
Keep going

[2022-10-16 11:27] alisamadiii commented on #106
PR template??!!
what is it?
@jaynarayan-vaishnav @Kellsonphilips

[2022-10-16 11:29] alisamadiii commented on #103
I'm looking forward to see your portfolio which you used React in it...
wish you all the best

[2022-10-16 11:58] avie-dev commented on #124
Haha wait I’m still working on it🤣

[2022-10-16 12:17] jaynarayan-vaishnav commented on #106
@Kellsonphilips  sry for the late reply i was busy with some work i can work on this issue if no one is assigned.

[2022-10-16 12:18] jaynarayan-vaishnav commented on #106
@AliReza1083 PR template is pull request template which is present when you open a pull request to merge in the project hope i explained it well 🙂

[2022-10-16 12:21] Kellsonphilips commented on #103
Yes, all of us are waiting.

[2022-10-16 12:23] Kellsonphilips commented on #124
😂😂

[2022-10-16 12:25] Kellsonphilips commented on #106
Alright, you should work on it @jaynarayan-vaishnav

[2022-10-16 12:26] jaynarayan-vaishnav commented on #106
Thanks 🙏🏻

[2022-10-16 12:36] alisamadiii commented on #124
OK

[2022-10-16 16:13] elucian commented on #81
I have finished 5050 words. Though I have discovered duplicates.

[2022-10-17 04:32] Kellsonphilips commented on #133
That seems like a good idea but do you have a mockup or something?

[2022-10-17 04:36] 889-dj commented on #108
Thanks @AliReza1083 yea agree with u hopefully I m on it and will try to continue to do better😄

[2022-10-17 05:21] alisamadiii commented on #133
I'll make one.

[2022-10-17 06:37] alisamadiii commented on #133
Should I continue making it?

https://user-images.githubusercontent.com/99729607/196105642-f9a12395-d5d3-4832-8a94-3ed0ec2a4f54.mp4

[2022-10-17 08:34] AliReza1083 opened #139 "Logo"
We have to make a logo for this project.

[2022-10-17 09:16] Kellsonphilips commented on #133
Looks good and can be better. continue @AliReza1083

[2022-10-17 09:20] Kellsonphilips commented on #133
Create the skeleton and we make it open source and everyone will contribute to make it better

[2022-10-17 09:22] Kellsonphilips commented on #139
That's another good issue @AliReza1083

[2022-10-17 09:42] alisamadiii commented on #133
Sorry @Kellsonphilips,
what do you mean Skeleton?

[2022-10-17 09:46] Kellsonphilips commented on #133
I mean the UI and how it can be structured at the beginner stage. That is the skeleton.

[2022-10-17 09:50] alisamadiii commented on #133
I've made a repo for this project...
I've connected to Netlify...
You can see the website live...
https://github.com/AliReza1083/Asakatsu

[2022-10-17 09:50] alisamadiii commented on #133
@Kellsonphilips

[2022-10-17 10:52] alisamadiii commented on #133
I am making the website like this that the user must add their data in json file and do nothing.
the website will automatically will do them.

[2022-10-17 11:06] avie-dev commented on #139
Yes! We need a logo! I like this!
Now we need a designer🥹

[2022-10-17 11:07] avie-dev commented on #133
Ali! Fire this✨ thank you!
Actually Nate wanted to do the same, but you can collaborate✨💪

[2022-10-17 12:42] alisamadiii commented on #133
The project is almost done.
Can you make a PR to see if it is working fine or not?
You can add more than one goal by making an object...
Please use the value that I used for mine otherwise you'll get errors...

Repo: https://github.com/AliReza1083/Asakatsu

File location:
`Profile.json`

I'll check the PR tomorrow if there was any.

@avie-dev @Kellsonphilips

![image](https://user-images.githubuse

[2022-10-17 14:38] Kellsonphilips commented on #133
It's looking great @AliReza1083 go on with the nav-bar

[2022-10-17 14:38] DivvSaxena opened #141 "Set Goal (Divv):[Learn Html and Css]"
My Goal is to Complete Html and Css by the end of October.
Set your goal and break it into smaller chunks.

Learn daily!
[] complete with W3 School Resource

[2022-10-17 14:59] elucian commented on #81
I have check-in the report for today. My goal is on target. All duplicates are eliminates and 5000 words are good to go. Working on extra bunch of 200 word to clear from my queue.

[2022-10-17 15:20] Kellsonphilips commented on #141
You got this @DivvSaxena, I hope to see your daily achievements here when you make a PR.

If you need any help do ask here

[2022-10-17 15:20] Kellsonphilips commented on #139
I hope that we get a designer as well.

[2022-10-17 16:43] AryaCodesAI opened #143 "Set Goal (Arya):[Learning Nihongo]"
-- Learning Nihongo --
I will try to achieve my daily goal on Duolingo and not break my streak.
Duolingo lessons are subdivided into many lessons and after it's completed we are rewarded with 10 points (+5 bonus).
My daily target is set at 30-50 points a day.

{17-09-2022} officially marks my first day of learning Nihongo.
My ultimate goal is to learn conversation Nihongo.

AKIRAMENAIDE!!!!!!!

[2022-10-17 17:39] subhoghoshX opened #145 "Set Goal (Subho):[150 Days of Workouts]"
**What is your goal?**

My goal is to double down on my workouts, which I am not doing as consistently or as diligently as I should.

I'll start small, with the morning exercises, and once I'm comfortable with that, I'll continue the after-noon ones.

[2022-10-18 02:15] alisamadiii commented on #133
I sent you an image of the data above.
If your goal is completed then set the value to true and The items will be green, if not then the item will remain as white.
![image](https://user-images.githubusercontent.com/99729607/196318269-08b9fab2-ff02-411c-a085-f51eb779e72a.png)

[2022-10-18 02:16] alisamadiii commented on #133
The website is done. it is ready.
maybe later I'll add new things onto it.

[2022-10-18 02:17] alisamadiii commented on #133
PLEASE make a PR and add your goals, same as I did.
just for checking...
make sure to not use any other words...

[2022-10-18 05:15] Kellsonphilips commented on #143
You are welcome here Arya, I will be looking forward to seeing your progress here daily.

I'm waiting for everyone's PR daily haha.

Goodluck 👏🏼

[2022-10-18 05:17] Kellsonphilips commented on #145
You got this @subhoghoshX
Start small daily and do not forget am here waiting for the daily report.

Goodluck 👏🏼

[2022-10-18 05:19] Kellsonphilips commented on #105
@Atharv181 how is it going with you and your task?

[2022-10-18 05:21] Kellsonphilips commented on #133
That looks amazing @AliReza1083 thanks for this work. 👏🏼

[2022-10-18 06:27] Kellsonphilips commented on #5
I will close the issue tomorrow when I start a new one

[2022-10-18 07:07] rupali-codes commented on #103
Hey, Thanks...I'll working on that :)

[2022-10-18 08:17] alisamadiii commented on #139
I'll make one.

[2022-10-18 08:18] Kellsonphilips commented on #139
Do you design also @AliReza1083 ?

[2022-10-18 08:28] alisamadiii commented on #139
Yeah hhh

[2022-10-18 08:29] Kellsonphilips commented on #139
Too much Talent haha 😆

[2022-10-18 08:30] alisamadiii commented on #139
hahaha All thanks to God ✌️

[2022-10-18 08:31] Kellsonphilips commented on #139
Maybe we should do pair collaboration so I can learn how to design from you

[2022-10-18 08:33] alisamadiii commented on #139
That sounds awesome, let's do it.
I'll learn new things from you as well.

[2022-10-18 08:34] alisamadiii commented on #139
How is it?
![image](https://user-images.githubusercontent.com/99729607/196379581-c7e47c8f-14ba-48db-94a2-73f111e66e7f.png)

[2022-10-18 08:35] Kellsonphilips commented on #139
How did you think about that haha. Looks amazing

[2022-10-18 08:37] alisamadiii commented on #139
I don't know how hhhh
But My brain and my hands will do the work. 😅😅😅

[2022-10-18 08:37] Kellsonphilips commented on #139
@avie-dev what do you think of this logo for AsakatsuOrg and website?

[2022-10-18 08:38] Kellsonphilips commented on #139
That's amazing. I want to design my personal logo in 3D

[2022-10-18 08:38] alisamadiii commented on #139
This image also has meaning, you have to think about it...😅😅✌️😆
I am not kidding hhh

[2022-10-18 08:38] alisamadiii commented on #139
Nice

[2022-10-18 08:39] Kellsonphilips commented on #139
But I don't know design haha 😂

[2022-10-18 08:40] alisamadiii commented on #139
The meaning -------
`You have to climb the mountain in order to see the sun`
that seems to be amazing...

[2022-10-18 08:40] alisamadiii commented on #139
You'll learn it, it is not a big deal.

[2022-10-18 08:42] Kellsonphilips commented on #139
It is amazing 👏👏😍

[2022-10-18 13:20] Atharv181 commented on #105
Ya its Going well

![image](https://user-images.githubusercontent.com/73999654/196441085-a7b7405c-e534-4c60-ade4-2bc26acbab5d.png)

[2022-10-18 13:44] Kellsonphilips commented on #105
When you contribute. Come here and update your file and make a PR with a message of what you contributed to and we will know you're keeping to the tasks

[2022-10-18 13:47] Kellsonphilips commented on #105
Clone this repo, create your personal file inside report in Asakatsu report folder. Inside that your file is where you number th days you contribute and what you contributed the make a pull request and we will merge your pull request.

[2022-10-18 14:57] DivvSaxena commented on #141
Today, was not able to do much but learned more about Html , increased my knowledge due to some other work

[2022-10-18 16:07] Kellsonphilips commented on #141
After each day, when you finish your learning. You have to make a PR here and we can record your progress.

Clone this project repo, go into the report folder, and create a folder that bears your GitHub username.
Inside the folder, create a file where you will be recording your daily progress, after you register your daily progress then you send a PR to the AsakatsProject repo and we will see it a

[2022-10-18 16:17] DivvSaxena commented on #141
Oh Nice @Kellsonphilips  for telling this information!!

[2022-10-18 16:19] Kellsonphilips commented on #141
If you are confused about anything. Ask here, I will respond to it as fast as I can.

With this process, you will learn how use git also.

[2022-10-18 16:21] DivvSaxena commented on #141
I am learning HTML and Css from Freecodecamp and  W3 Schools these are my resources any other would u suggest , and Any  tips while learningthese languages it will be helpful to me

[2022-10-18 16:22] Kellsonphilips commented on #141
They are fine as far as you are having fun with the tutorial.

[2022-10-19 01:52] Niveytha opened #152 "Set Goal (Niveytha Waran):[2 Leetcode Qns/day]"
**What is your goal?**
I want to complete 2 Leetcode Questions per day for the next 30 days.

### Steps to achieve the goal (not required)
  - [ ] 1 Question in the morning on the way to work (weekday), in the morning after showering (weekend)
  - [ ] 1 Question in the evening on the way back home from home /at home (weekday), in the evening before gym (weekend)

**Do you have a target date for th

[2022-10-19 02:27] Niveytha commented on #152
**Additional Context:**
Google Spreadsheet to track progress: https://docs.google.com/spreadsheets/d/1CBrMSh8dE8Hu38TL7_p-LRiK1QR7r79wKAL_sQ1IfjE/edit?usp=sharing

Leetcode List: https://leetcode.com/list/?selectedList=ebpg71ej

[2022-10-19 03:48] avie-dev commented on #139
@AliReza1083 Amazing!
I see an egg, a mountain, sun..
Can you make the edges a bit softer though?

[2022-10-19 03:49] avie-dev commented on #139
I love this!!!!

[2022-10-19 03:49] avie-dev commented on #139
Ali!!!!! Fireeee!!!

[2022-10-19 04:20] alisamadiii commented on #139
Yeah I did that.

[2022-10-19 07:08] Kellsonphilips commented on #152
When you fork this repo and created your personal folder inside the report folder, create a file and have your spreadsheet inside the file where you track your daily progress and whenever you update your spreadsheet and your file. Make a PR and we will merge it into your report.

Hope this helps you start being consistent. Goodluck @Niveytha

[2022-10-19 07:24] #5 closed

[2022-10-19 07:55] alisamadiii commented on #139
Done!!!
![Logo](https://user-images.githubusercontent.com/99729607/196630565-b9168dae-acb2-4a38-a3d0-2d85c683f363.png)

[2022-10-19 07:55] alisamadiii commented on #139
Let me put it as a favicon for the website

[2022-10-19 08:03] Kellsonphilips opened #156 "[MORNING FITNESS ROUTINE]: Keeping track and staying fit on a daily"
## Morning Fitness Routine Check And Social Engagement

**Maintaining my started fitness and staying consistent**
### Steps to achieve the goal
  - [ ] Crunches 30 in 5x reps
  - [ ] Push-ups 30 in 5x reps
  - [ ] Dunbell 30 each hand in 5x reps

**Maintaining my networking  and staying consistent with Twitter engagement**
### Steps to achieve the goal
 - [ ] At least 1 tweet per day
 - [ ] If mor

[2022-10-19 08:05] Kellsonphilips commented on #156
Starting a report on this issue on 20/10/2022

[2022-10-19 08:08] Kellsonphilips commented on #139
Greatly done @AliReza1083

[2022-10-19 08:14] alisamadiii commented on #139
Thanks @Kellsonphilips

[2022-10-19 09:03] avie-dev commented on #133
@AliReza1083 Nice nice!
@Kellsonphilips Philips, I haven't heard any word from you about this though..... Although it's open source.. for the new features aside from the progress, I want to be the one checking it... for starters

[2022-10-19 09:07] Kellsonphilips commented on #133
@avie-dev Check the discussion section, we are organizing the site and you check it and let us know what you think.
The link to the live website is also in the discussion.
After we can know how to implement it with the main project

[2022-10-19 09:08] Kellsonphilips commented on #133
The Website discussion https://github.com/asakatsuOrg/AsaKatsuProject/discussions/151

[2022-10-19 09:13] AliReza1083 commented on #133
You'll get what we did in the discussion.

[2022-10-19 18:10] DivvSaxena commented on #141
#159

[2022-10-19 18:13] DivvSaxena commented on #141
@Kellsonphilips  I made the PR of adding a folder and will also add daily updates!
#159

[2022-10-19 18:24] Kellsonphilips commented on #141
I will check it. Good job

[2022-10-20 02:43] JeremyTechDev commented on #123
OMG Avie!!! So excited about this!! 🙌

[2022-10-20 02:45] alisamadiii commented on #123
Looking forward to see it...

[2022-10-20 02:58] JeremyTechDev opened #160 "Set Goal (Jeremy): Make 10 YouTube Videos from 10 Twitch livestreams"
**What is your goal?**

_The Theo Effect_

The goal is to get serious about YouTube and Twitch content. I will make good streams on Twitch and then make good YouTube videos with that content.

### Steps to achieve the goal
  - [ ] Open the YouTube channel
  - [ ] Get a video editing app and learn how to use it (ask YK for advice?)
  - [ ] Start making streams with _good_ content I can use for YouT

[2022-10-20 02:59] JeremyTechDev commented on #160
@avie-dev @Kellsonphilips I am not able to set any reviewers ☹️ can you help me out?

[2022-10-20 03:50] avie-dev commented on #160
@JeremyTechDev You can only set reviewers in the PR. We will be waiting for your everyday progress, Jeremy! Nice goals! 🌹

[2022-10-20 08:09] Kellsonphilips commented on #160
Finally, you are welcome onboard @JeremyTechDev
Can't wait to see your PRs on a daily.

🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉

[2022-10-20 09:01] Kellsonphilips commented on #156
Kickstarted this again. Let's go

[2022-10-20 11:44] alisamadiii commented on #160
Wish you all the best Brother

[2022-10-20 12:03] Niveytha commented on #152
Great idea. Implemented it, thanku!

[2022-10-20 13:16] Kellsonphilips commented on #152
Sure, but for now do update your folder in the report folder

[2022-10-20 15:38] Hikari7 opened #167 "Set Goal (Hikari):[Make projects by React]"
**What is your goal?**
I'll try to output the knowledge of React by creating some projects! (even small components, maybe😁)

### Steps to achieve the goal (not required)
  - [ ] Input the knowledge about React
  - [ ] Decide what I'll create
  - [ ] Trial and error🥺
  - [ ] Complete a project and tweet about it on my Twitter (100DaysOfCodeChallenge)

**Do you have a target date for this? If yes, w

[2022-10-20 22:51] avie-dev commented on #167
Welcome to Asakatsu, Hikari chan! Nice goal here! Way to go🔥🔥🔥

[2022-10-24 04:56] Kellsonphilips commented on #29
This issue is not a problem again.

[2022-10-24 04:56] #29 closed

[2022-10-24 08:22] Anjali-DA opened #189 "Set Goal (Anjali):[Preparation for hackathon]"
**What is your goal?**
I will do the documentation on ML algorithms & read articles on blockchain for my first hackathon.

### Steps to achieve the goal (not required)
  - Read the basic ML algorithms from GFG
  - Document it & go with the implementation in the notebook.
  - Reading articles on the blockchain.

**Do you have a target date for this? If yes, write below**
Target date🔮: 31/10/2022

*

[2022-10-24 08:30] elucian commented on #81
All done. 5072 words are available in Maj lexicon. Broken links are fixed.
Project is in Beta stage. Left to do: Update the website with new examples.

[2022-10-24 08:37] elucian commented on #81
I try to change the label to done but I can't

[2022-10-24 08:37] #81 closed

[2022-10-24 08:54] elucian opened #191 "Set Goal (elucian):[Learn Fortranl]"
Learn Fortran and Tweet about it on 100DaysOfCode challenge.

### Steps to achieve the goal (not required)
  - [x] create repository for training
  - [x] create first page for tutorial
  - [x] create code snippets for learning syntax
  - [x] create website articles for all use-cases

**What will you achieve by completing this goal?**

Cover technical debt. Understanding the early design will help

[2022-10-24 08:59] elucian commented on #141
Try my tutorial. Maybe this will help you: This tutorial has no ads and is 100% free.
[Web Design](https://sagecode.net/html)

[2022-10-24 09:04] elucian commented on #47
I recommend to use a camera doing your outdoor exercise and upload the videos on YT. Use a bike and visit places in your hood. That would be very cool, to preserve your memory.!

[2022-10-27 12:43] #6 closed

[2022-10-28 06:51] Kellsonphilips commented on #6
I thought same

[2022-10-29 03:36] DivvSaxena commented on #141
@elucian  Thanks for Sharing your Resource!

[2022-10-30 05:58] Kellsonphilips commented on #139
We need to assign the logo to Asakatsu Org already

[2022-10-30 06:07] alisamadiii commented on #139
Yeah, we need it.
@Kellsonphilips

[2022-10-31 04:15] avie-dev opened #223 "Set Goal (Avie): 100DaysOf Spaces"
**What is your goal?**
Complete 100 days of the Twitter Spaces Challenge
https://twitter.com/AvieDev/status/1574354888926310400?s=20&t=8StCAEoEOGCZul573J46kA

### Steps to achieve the goal
  - [x] Day1
  - [x] Day2
  - [x] Day3
  - [x] Day4
  - [x] Day5
  - [x] Day6
  - [x] Day7
  - [x] Day8
  - [x] Day9
  - [x] Day10
  - [x] Day11
  - [x] Day12
  - [x] Day13
  - [x] Day14
  - [x] Day15
  - [x] Da

[2022-10-31 16:18] rupali-codes opened #227 "Set Goal (Rupali): Revising Javascript"
**What is your goal?**
Set your goal and break it into smaller chunks.
For example, you want to read 4 books in one month. Break it down to “Read one book per week”, or smaller, “Read xx chapter per day”.

Hi, my goal is revise core concepts of JavaScript

### To be learnt

  - [x] DataTypes
  - [x] Convential functions Vs Arrow function
  - [x] Array and it's methods
  - [x] Object and it's metho

[2022-11-01 10:58] Kellsonphilips commented on #227
make a PR if you revised some topic, and write it in a file you created inside the report folder.
 - create a folder bearing your name in the report folder.
 - inside the folder bearing your name, create a file with a name you like or give it a name you can recognize
 - always write what you did every day inside the file and send a PR.
That's it @rupali-codes

[2022-11-01 11:34] rupali-codes commented on #227
Thank you @Kellsonphilips :)

[2022-11-01 13:53] elucian commented on #191
I'm about 50% done learning Fortran basic features.

[2022-11-01 16:19] DivvSaxena commented on #141
Made the final PR #232 as the goal was for this month and it is completed.

[2022-11-02 06:28] Kellsonphilips commented on #227
You are welcome @rupali-codes

[2022-11-02 06:29] Kellsonphilips commented on #141
Well done, you can always start a new task by making a new issue and we can close the last issue.

[2022-11-02 11:53] #141 closed

[2022-11-02 15:49] #189 closed

[2022-11-05 14:52] #227 closed

[2022-11-06 09:17] Kellsonphilips commented on #139
This issue is completed

[2022-11-06 09:17] #139 closed

[2022-11-06 09:18] Kellsonphilips commented on #133
Completed and we need to start maintaining it from Asakatsu website repo

[2022-11-06 09:18] #133 closed

[2022-11-06 09:20] Kellsonphilips commented on #124
where is the illustration preview @avie-dev

[2022-11-06 09:26] Kellsonphilips commented on #106
Seems like @jaynarayan-vaishnav  forgot this issue.

[2022-11-06 11:15] jaynarayan-vaishnav commented on #106
So sorry @Kellsonphilips  🥲 i totally forgot about this  but will make a pr for this soon.

[2022-11-06 22:00] elucian commented on #191
I'm about 80% done learning Fortran syntax

[2022-11-10 04:53] elucian commented on #191
I have finished learning Fortran. Due to my conclusion I have modified my initial goal. I have concluded that I will not use Fortran for my future projects. Learning Fortran was very important for me. I have accomplished the goal and I have shared my notes on-line for everyone who visit my website:
https://sagecode.net/fortran/

[2022-11-11 08:11] elucian commented on #191
Looking forward for next challenge.

[2022-11-11 08:11] #191 closed

[2022-11-11 08:23] elucian opened #274 "Set Goal (elucian):[Upgrade to Java 18]"
**What is your goal?**
Investigate Java 8 ... 18 new features.

### Steps to achieve the goal (not required)

  - [x] create quiz with 50 questions
  - [x] create code snippets for new features
  - [x] create articles for new features Java 18
  - [x] create powerpoint slides for new features
  - [x] stream Java Lecture 1 - Fundamentals
  - [x] stream Java Lecture 2 - Intermediate
  - [x] stream Ja

[2022-11-16 09:40] elucian commented on #274
Updating the tutorial for Java advanced features. Day 85 report is in.

[2022-11-17 00:18] jhaycee11 opened #296 "Set Goal (Jhaycee):[100DaysOfCode]"
**What is your goal?**
Complete 100 days of Code Challenge

### Steps to achieve the goal
  - [ ] Day1
  - [ ] Day2
  - [ ] Day3
  - [ ] Day4
  - [ ] Day5
  - [ ] Day6
  - [ ] Day7
  - [ ] Day8
  - [ ] Day9
  - [ ] Day10
  - [ ] Day11
  - [ ] Day12
  - [ ] Day13
  - [ ] Day14
  - [ ] Day15
  - [ ] Day16
  - [ ] Day17
  - [ ] Day18
  - [ ] Day19
  - [ ] Day20
  - [ ] Day21
  - [ ] Day22
  - [ ] Day

[2022-11-17 00:26] avie-dev commented on #296
Nice Jhaycee! Let's do this✨

[2022-11-17 05:03] Kellsonphilips commented on #296
Waiting on your PRs, good task

[2022-11-20 11:16] mnw314 opened #313 "Set Goal (Minwoo):[100DaysOfCode]"
**What is your goal?**
Complete 100 Days of Code Challenge in Replit

### Steps to achieve the goal (not required)

- [ ] Day1
 - [ ] Day2
 - [ ] Day3
 - [ ] Day4
 - [ ] Day5
 - [ ] Day6
 - [ ] Day7
 - [ ] Day8
 - [ ] Day9
 - [ ] Day10
 - [ ] Day11
 - [ ] Day12
 - [ ] Day13
 - [ ] Day14
 - [ ] Day15
 - [ ] Day16
 - [ ] Day17
 - [ ] Day18
 - [ ] Day19
 - [ ] Day20
 - [ ] Day21
 - [ ] Day22
 - [ ] D

[2022-11-20 23:32] elucian commented on #274
Update the slides with Java 18 features. Day 90 report is in.

[2022-11-23 18:18] rupali-codes commented on #103
Hi, I couldn't do it till that date for some reasons, but I'm still working on it, also I'm planing to finish b4 next year!

[2022-11-23 18:28] rupali-codes opened #331 "Set Goal (Rupali):[Learning Next]"
**What is your goal?**
My goal is to learn Nextjs to work on some persnal project

**Do you have a target date for this? If yes, write below**
Nov 26th, 2022

**What will you achieve by completing this goal?**
I will be able to work on my project

**Additional context**
I will try my best to accomplish this, bcz I'm commiting in public!

[2022-11-25 04:33] Kellsonphilips commented on #103
Take your time @rupali-codes , you don't have to push yourself too hard but be consistent and work on your goal always. Goodluck.

[2022-11-25 08:10] rupali-codes commented on #103
Thank you @Kellsonphilips

[2022-11-25 18:05] elucian commented on #274
Day 95. Things go well, I have create a new APP for code demo.